body {
    font-family:inherit;
    color: whitesmoke;
    background-size: 200px;
}


body {
    background-color: rgba(255, 255, 210, 1);
    background-image: url("../img/fc-bayern-munich-2560x1080-14118.jpg");
    background-size: cover
}

body {
    text-align: justify;
    text-shadow: 3px 5px 5px rgb(0, 8, 8);
}

#boton {
    background-color:black;
    background-image: url("../img/ioj-removebg-preview.png");
    background-size: cover;
    height: 75px;
    width: 120px
}

#Edad {
    border: 4px rgb(11, 204, 146) ridge;
    border-radius: 10px;
}

#nombre {
    border: 4px rgb(11, 204, 146) ridge;
    border-radius: 10px;
}

#telefono {
    border: 4px rgb(11, 204, 146) ridge;
    border-radius: 10px;
}

#equipo {
    border: 4px rgb(11, 204, 146) ridge;
    border-radius: 10px;
}

#jugador {
    border: 4px rgb(11, 204, 146) ridge;
    border-radius: 10px;
}

